<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iions.appname">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.iions.appname.MainApplicationImpl"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.iions.appname.feature.splash.screens.SplashActivity"
            android:exported="true"
            android:configChanges="uiMode|colorMode|orientation"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iions.appname.feature.auth.screens.resetpin.ResetPinActivity"
            android:exported="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.iions.appname.feature.auth.screens.requestpin.RequestPinActivity"
            android:exported="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.iions.appname.feature.auth.screens.register.RegisterActivity"
            android:exported="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.iions.appname.feature.auth.screens.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.iions.appname.feature.main.screens.MainActivity"
            android:exported="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>