<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iions.done">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".MainApplicationImpl"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".feature.summary.screens.PaymentOptionActivity"
            android:exported="false" />
        <activity
            android:name=".feature.groceries.screen.detail.GroceryDetailActivity"
            android:exported="false"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.resturants.RestaurantActivity"
            android:exported="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.groceries.screen.GroceryActivity"
            android:exported="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.search.screens.SearchActivity"
            android:exported="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.splash.screens.SplashActivity"
            android:configChanges="uiMode|colorMode|orientation"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.auth.screens.resetpin.ResetPinActivity"
            android:exported="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.auth.screens.requestpin.RequestPinActivity"
            android:exported="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.auth.screens.register.RegisterActivity"
            android:exported="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.auth.screens.login.LoginActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.main.screens.MainActivity"
            android:exported="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.auth.screens.verifypin.VerifyPinActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.auth.screens.login.smslogin.SmsLoginActivity"
            android:exported="true"
            android:screenOrientation="@integer/screen_orientation_portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>